/***** HOME *****/
.menu-stack li .menu-disc {
    width: 25px;
    border-radius: 0;
    display: inline-block;
    shape-outside: margin-box;
    margin-right: 10px;
    clip-path: polygon(52% 37%, 72% 65%, 85% 55%, 100% 100%, 0 100%, 24% 49%, 36% 66%);
    margin-bottom: 6px;
}
.asset-guide-text-box {
    color: rgb(186, 0, 4);
    font-family: 'tradegothicltcom-bdcn20', sans-serif;
}

/****** PRES PAGE *****/
.pres-sig {
    width: 200px;
    display: block;
    margin-bottom: 10px;
}
.asset-guide-text-box {
    color: rgb(186, 0, 4);
    font-family: 'tradegothicltcom-bdcn20', sans-serif;
}

/***** FACTS AND FIGURES *****/
.military {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.asset-guide-text-box {
    color: rgb(186, 0, 4);
    font-family: 'tradegothicltcom-bdcn20', sans-serif;
}



/***** SUB PAGE PATTERN LIBRARY *****/
.banner-image--moyes {
    margin-bottom: 30px;
}

.asset-guide-text-box {
    color: rgb(186, 0, 4);
    font-family: 'tradegothicltcom-bdcn20', sans-serif;
}

/** banner local build **/
.banner--fame {
    background-image: url("https://apps.weber.edu/wsuimages/annualreport/2019/images/athletics/withPrideHonorBackground-1x.jpg");
    min-height: 350px;
    margin: 30px 0;
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
    .banner--mars {
        background-image: url("https://apps.weber.edu/wsuimages/annualreport/2019/images/athletics/withPrideHonorBackground-2x.jpg");
    }
}
/** banner local build **/
.banner--tech {
    background-image: url("https://apps.weber.edu/wsuimages/annualreport/2019/images/faculty-staff/ExaminingTechBackground-1x.jpg");
    min-height: 350px;
    margin: 30px 0;
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
    .banner--tech {
        background-image: url("https://apps.weber.edu/wsuimages/annualreport/2019/images/faculty-staff/ExaminingTechBackground-2x.jpg");
    }
}

.pullquote--athletics {
    padding: 2em;
    background-color: #ECE9EF;
}

.pullquote--dumke {
    padding: 2em;
    background-color: #E5F4EC;
}

.ar2019-pullquote--flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*** TILES ***/
.comm-tile {
    display: flex;
}

.comm-tile--left {
    justify-content: flex-start;
}

.comm-tile--right {
    justify-content: flex-end;
}

@media only screen and (max-width: 500px) {
    .comm-tile--left, .comm-tile--right {
        justify-content: center;
    }
}

.comm-tile > div {
    width: 350px;
    height: 350px;
    background-color: #492365;
    color: #FFF;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'tradegothicltcom-bdcn20', sans-serif;
    font-size: 1.2em;
}

.comm-tile__icon {
    width: 100px;
}

.ar2019-pullquote {
    padding: 2em;
}

.pullquote--information {
    background-color: #ecebe9;
}

.pullquote--community {
    padding: 2em;
    background-color: #ece9ef;
    margin-bottom: 20px;
}

