/***
**** GLOBAL RULES
***/
.banner {
  position: relative;
  min-height: 350px;
}

/***
**** HOME STYLES
***/
.banner-image, .banner-image img {
  width: 100%;
}

.banner {
  position: relative;
}
.banner__text {
  position: absolute;
  bottom: -9px;
  width: 70%;
  max-width: 975px;
}
@media only screen and (max-width: 1023px) {
  .banner__text {
    width: 90%;
  }
}
@media only screen and (max-width: 640px) {
  .banner-image {
    display: none;
  }
}

/***
LINK STRIP ************************************
***/
.link-strip {
  background-color: #492365;
  position: relative;
  z-index: 100;
}
.link-strip .link-cell {
  padding: 10px 0;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .link-strip .link-cell {
    padding: 20px 0;
  }
}
.link-strip a {
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: "tradegothicltcom-bd2", sans-serif;
  color: #FFF;
}
@media screen and (max-width: 480px) {
  .link-strip a {
    font-size: 1.2em;
  }
}
.link-strip a:hover {
  color: #c1a2d5;
}
.link-strip a:visited {
  color: #FFF;
}
.link-strip a.menu-item {
  width: 100%;
}
.link-strip .link-strip-left {
  border-right: 2px solid #FFF;
}
@media screen and (max-width: 640px) {
  .link-strip .link-strip-left {
    border-right: none;
    border-bottom: 2px solid #FFF;
  }
}

/***
LOGO *******************************************
***/
.ar-logo {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.ar-logo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #cacaca;
  border-top: 1px solid #cacaca;
}
.ar-logo__image {
  width: 300px;
  margin-top: 1rem;
}
.ar-logo__description {
  color: #492365;
  font-family: "tradegothiclt-condeighteen", sans-serif;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

/***
HOME PAGE HEADLINES *****************************
***/
h2.cont-men-headline {
  text-transform: uppercase !important;
}
.featured-articles h2.cont-men-headline {
  margin-bottom: 70px !important;
}

/***
CONTENTS ****************************************
***/
.menu-stack {
  display: flex;
}
@media only screen and (min-width: 769px) {
  .menu-stack {
    justify-content: center;
  }
}
.menu-stack ul {
  margin-bottom: 0;
}
.menu-stack li {
  list-style-type: none;
  height: 41px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .menu-stack li {
    height: 50px;
  }
}
.menu-stack li--left {
  justify-content: flex-end;
}
@media only screen and (max-width: 767px) {
  .menu-stack li--left {
    justify-content: flex-start;
  }
}
.menu-stack li--right {
  justify-content: flex-start;
}
.menu-stack li .menu-disc {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  shape-outside: margin-box;
  margin-right: 10px;
}

a.menu-item {
  display: inline-block;
  text-decoration: none;
  color: #575047;
  font-family: "tradegothicltcom-bd2", sans-serif;
  padding: 10px 10px 10px 5px;
  font-size: 18px;
  width: calc(100% - 50px);
  line-height: 1em;
}

a.menu-item:hover {
  cursor: pointer;
  color: #FFF;
  background-color: #c1a2d5;
}

/***
FEATURED STORIES **********************************
***/
.feature-tile {
  display: flex;
  margin-bottom: 12px;
  flex-direction: column;
}
.feature-tile__text {
  font-family: "tradegothiclt", sans-serif;
}
.feature-tile--left {
  color: #FFF;
  align-items: flex-start;
}
@media only screen and (min-width: 769px) {
  .feature-tile--left {
    margin-right: 5vw;
  }
}
@media only screen and (min-width: 1025px) {
  .feature-tile--left {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }
}
.feature-tile--left .feature-tile__title, .feature-tile--left .feature-tile__title a, .feature-tile--left .feature-tile__title a:visited {
  color: #FFF;
}
.feature-tile--left .feature-tile__title a:hover {
  color: #A391B1;
}
.feature-tile--right {
  color: inherit;
  align-items: flex-end;
}
@media only screen and (min-width: 769px) {
  .feature-tile--right {
    margin-left: 5vw;
  }
}
@media only screen and (min-width: 1025px) {
  .feature-tile--right {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}
.feature-tile--right .feature-tile__title, .feature-tile--right .feature-tile__title a, .feature-tile--right .feature-tile__title a:visited {
  color: #575047;
}
.feature-tile--right .feature-tile__title a:hover {
  color: #492365;
}
.feature-tile__content, .feature-tile__img {
  display: flex;
}
.feature-tile__content {
  flex-direction: column;
  justify-content: center;
  padding: 3em;
}
@media only screen and (min-width: 769px) {
  .feature-tile__content {
    max-width: 575px;
  }
}
@media only screen and (min-width: 769px) {
  .feature-tile__img {
    min-width: 350px;
    max-width: 500px;
    position: relative;
    top: -47px;
    margin-bottom: -47px;
  }
}
.feature-tile__img::after {
  content: " ";
  background-color: #fff;
  position: absolute;
  width: 100%;
}

/********************* HOME 2021 **********************
*******************************************************
 *****************************************************/
/******************************
PASTE INTO HOME PAGE HEAD CSS
*******************************
body {
  //height: 100vh;
  background-position-x: 40%;
  background-position-y: 0;
  background-size: contain;
}
@media only screen and (min-width: 769px) {
  body {
    background-image: url(https://www.weber.edu/wsuimages/annualreport/2021/images/ar-home-header2.jpg) !important;
    background-repeat: no-repeat;
    background-position-x: 40%;
    background-position-y: 0;
    background-position-y: -400px;
    background-attachment: fixed;
    background-size: cover;
  }
}

or
body {
  //height: 100vh;
  background-position-x: 40%;
  background-position-y: 0;
  background-size: contain;
}

@supports (-webkit-touch-callout: none) {
  body {
    background-image: url(https://www.weber.edu/wsuimages/annualreport/2021/images/ar-home-header2.jpg) !important;
    background-repeat: no-repeat;
    background-position-x: 40%;
    background-position-y: 0;
    background-position-y: -400px;
    background-attachment: fixed;
    background-size: cover;
  }
}

*****************************/
.links-titles {
  background-color: #FFF;
}

.first-title {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
  transition: transform 0.5s;
}
.first-title .ar-logo {
  background: rgba(255, 255, 255, 0.9);
  margin: 0;
}
.first-title .ar-logo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 20px 0 20px 0;
}
.first-title .ar-logo__image {
  margin: 0;
  width: 350px;
}
.first-title .ar-logo__description {
  margin: 0;
  font-size: 2em;
}

.giant-spacer {
  height: 100vh;
}

.animate-up {
  transform: translate3d(0, -100%, 0);
}

.new-bg {
  display: none;
}
@supports (-webkit-touch-callout: none) {
  .new-bg {
    display: block;
    background-image: url(https://www.weber.edu/wsuimages/annualreport/2021/images/ar-home-header2.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.knockout-pad {
  display: none;
}
@supports (-webkit-touch-callout: none) {
  .knockout-pad {
    background-color: #fff;
    height: 20vh;
    position: relative;
    margin-top: -10px;
    margin-bottom: -10px;
  }
  @media (orientation: portrait) {
    .knockout-pad {
      display: block;
    }
  }
}

.banner-knockout {
  position: relative;
}

.freeze-knockout {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  bottom: 0;
  width: 100vw;
}

.home-main-content {
  background-color: #FFF;
}

.ar-logo__wrapper {
  z-index: 100;
}

.ar-logo-second {
  display: flex;
}
@supports (-webkit-touch-callout: none) {
  .ar-logo-second {
    display: none;
  }
}

.home-main-content {
  background-color: #FFF;
  position: relative;
}

.menu-stack li .menu-disc {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}

.menu-stack--left {
  justify-content: flex-end;
}
@media only screen and (max-width: 767px) {
  .menu-stack--left {
    justify-content: flex-start;
  }
}
.menu-stack--right {
  justify-content: flex-start;
}

.banner-feature {
  padding: 1em;
  min-height: 400px;
}
@media only screen and (max-width: 767px) {
  .banner-feature {
    padding: 0;
  }
}
.banner-feature__background-box {
  position: absolute;
  top: 80%;
  background-color: rgba(219, 211, 224, 0.9);
  padding: 2em;
  max-width: 656px;
}
@media only screen and (max-width: 767px) {
  .banner-feature__background-box {
    top: 66%;
  }
}
.banner-feature__background-box h3 {
  font-family: "tradegothicltstd-boldext", sans-serif;
  color: #492365;
  font-size: 2em;
  margin-bottom: 30px;
}
.banner-feature--digital-district {
  background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/home/digital-district-1x.jpg");
  margin-bottom: 248px;
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .banner-feature--digital-district {
    background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/home/digital-district-2x.jpg");
  }
}
.banner-feature--convos {
  background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/home/wildcat-convos-1x.jpg");
  margin-bottom: 300px;
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .banner-feature--convos {
    background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/home/wildcat-convos-2x.jpg");
  }
}
.banner-feature--april {
  background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/home/april-callister-1x.jpg");
  margin-bottom: 300px;
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .banner-feature--april {
    background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/home/april-callister-2x.jpg");
  }
}
.banner-feature--virtual-innovations {
  background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/home/virtual-innovations-1x.jpg");
  margin-bottom: 300px;
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .banner-feature--virtual-innovations {
    background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/home/virtual-innovations-2x.jpg");
  }
}
.banner-feature--virtual-innovations .banner-feature__background-box {
  top: 68%;
}
.banner-feature--sustainability {
  background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/home/sustainability-1x.jpg");
  margin-bottom: 300px;
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .banner-feature--sustainability {
    background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/home/sustainability-2x.jpg");
  }
}
.banner-feature--athletics {
  background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/home/vball-1x.jpg");
  margin-bottom: 300px;
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .banner-feature--athletics {
    background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/home/vball-2x.jpg");
  }
}

.link-strip a:visited {
  color: #fff;
}

.showcase-html-section .link-strip a:hover {
  color: #c1a2d5;
}

a.menu-item:hover {
  color: #fff !important;
}

/***
**** CUSTOM FONTS
***/
/***
**** SUBPAGE STYLES
***/
/***
Resets
***/
figcaption {
  padding: 5px;
  font-style: italic;
  font-size: 0.8em;
}

.page-title-space {
  padding: 0;
}

strong, b {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
}

.text-box {
  padding: 0;
}

/**************************************************************
****************************************************************
****************************************************************
*************** NEW H1 *****************************************
****************************************************************
***************************************************************/
.showcase-html-section h1 {
  color: #492365;
  font-family: tradegothicltstd-boldext, sans-serif;
  padding: 1em 0;
  text-align: center;
  font-size: 2em;
}
.showcase-html-section h1.page-title-banner {
  width: 100%;
  padding: 1em;
  background: url("https://www.weber.edu/wsuimages/annualreport/2021/graphics/section-header-mtns.svg") #f3f3f3;
  background-repeat: no-repeat;
  background-position: 30% 50%;
  background-size: 27%;
  font-size: 3em;
}
.showcase-html-section h1 span.page-title-banner__tg {
  font-family: "tradegothiclt", sans-serif;
}
.showcase-html-section h1 span.page-title-banner__ext {
  font-family: "tradegothicltstd-boldext", sans-serif;
  text-transform: uppercase;
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

/***
Offscreen Text Content For Screen Readers
***/
.sr-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  top: auto;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/***
Lead Article
***/
.lead-article-section, .main-article-section {
  padding: 1em 0;
}

.lead-article__image {
  max-width: 600px;
}
.lead-article__subtitle {
  margin-bottom: 1.5em;
  font-style: oblique;
}

h3.article-subtitle {
  font-style: oblique;
  margin-bottom: 1.25em;
}

h2.lead-article__title.title-override {
  margin-bottom: 20px;
  font-family: "tradegothicltcom-bdcn20", sans-serif;
  font-size: 2rem;
  line-height: 1;
}
h2.lead-article__title.title-override span {
  font-family: "honest-designer", cursive;
  font-size: 3rem;
}

/***
Image floats for Regular Articles
***/
.float-left {
  float: left;
  margin-right: 20px;
}
@media only screen and (max-width: 640px) {
  .float-left {
    margin-right: 0;
  }
}

.float-right {
  float: right;
  margin-left: 20px;
}
@media only screen and (max-width: 640px) {
  .float-right {
    margin-left: 0;
  }
}

@media only screen and (max-width: 640px) {
  .regular-article__image.float-left, .regular-article__image.float-right {
    float: none !important;
    margin-bottom: 20px;
  }
}

/***
CUSTOM HR
***/
.custom-hr {
  text-align: center;
}
.custom-hr img {
  width: 30px;
  position: relative;
  top: -35px;
}

/***
Text Box with Background Banner
***/
.color-background-box--gray-white-color {
  background-color: rgba(255, 255, 255, 0.9);
}

.text-box h2.text-box__title {
  font-family: "tradegothiclt-bold", sans-serif;
  font-weight: normal !important;
  margin-bottom: 0 !important;
  font-size: 1.5rem;
  color: #575047;
}

/***
Pull-Quotes
***/
.ar-pullquote {
  padding: 2em;
}
@media only screen and (max-width: 767px) {
  .ar-pullquote {
    padding: 1em;
  }
}
.ar-pullquote__body--med {
  font-family: "tradegothiclt-condeighteen", sans-serif !important;
  font-size: 1.5em;
}
.ar-pullquote__body--large {
  font-family: "tradegothiclt-condeighteen", sans-serif !important;
  font-size: 2em;
}
.ar-pullquote__body--giant {
  font-family: "tradegothiclt-condeighteen", sans-serif !important;
  font-size: 3em;
}
.ar-pullquote--flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ar-pullquote.pullquote--real-numbers {
  margin: 4em 0;
}
.ar-pullquote.pullquote--real-numbers .ar-stat__title, .ar-pullquote.pullquote--real-numbers .ar-stat {
  color: #fff;
}

/***
Pull-Quote Stats
***/
.ar-stat {
  padding: 1em 2em;
  text-align: center;
}
.ar-stat__description {
  font-size: 1.3em;
  font-family: "tradegothicltcom-bdcn20", sans-serif;
  line-height: 1.2;
  margin-bottom: 40px;
}

.ar-stat__title {
  font-size: 1.4em !important;
}
.ar-stat__number {
  font-size: 3.7em;
  font-family: "tradegothicltcom-bdcn20", serif;
  line-height: 1;
  margin-bottom: 10px;
}
.ar-stat.inline-stats > p {
  display: inline-block;
}

/*** TILES ***/
.comm-tile {
  display: flex;
}

.comm-tile--left {
  justify-content: flex-start;
}

.comm-tile--right {
  justify-content: flex-end;
}

@media only screen and (max-width: 500px) {
  .comm-tile--left, .comm-tile--right {
    justify-content: center;
  }
}
.comm-tile > div {
  width: 350px;
  height: 350px;
  background-color: #492365;
  color: #FFF;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "tradegothicltcom-bdcn20", sans-serif;
  font-size: 1.2em;
}

.comm-tile__icon {
  width: 100px;
}

.article-video-right {
  float: right;
}
@media only screen and (max-width: 700px) {
  .article-video-right {
    float: none;
    max-width: 600px;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    position: relative;
    height: 0;
    margin-bottom: 1rem;
    padding-bottom: 56.25%;
  }
}

.article-video-left {
  float: left;
}
@media only screen and (max-width: 700px) {
  .article-video-left {
    float: none;
    max-width: 600px;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    position: relative;
    height: 0;
    margin-bottom: 1rem;
    padding-bottom: 56.25%;
  }
}

/***
FACTS AND FIGURES
***/
.fact-head-text {
  color: #fff !important;
  font-size: 3em !important;
}

.fact-row {
  display: flex;
  border-bottom: 2px solid #FFFFFF;
  padding-top: 40px;
  padding-bottom: 40px;
}
.fact-row .bord-rt {
  border-right: 2px solid #FFFFFF;
}
.fact-row .fact-box-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fact-row .top-ten-list {
  background-color: #dbd3e0;
}
.fact-row .column {
  padding: 2%;
}
@media only screen and (min-width: 1024px) {
  .fact-row .column img:not(.no-max) {
    max-width: 400px;
    display: block;
    margin: 0 auto;
  }
}
.fact-row.fact-row-last {
  border-bottom: none;
}

.fact-box.military {
  background: none;
}

/***
PRES LETTER
***/
.pres-sig {
  width: 200px;
  display: block;
  margin-bottom: 10px;
}

/***
Article Background Banners
***/
.banner--name {
  min-height: 350px;
  margin: 30px 0;
  background-image: url("URL");
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .banner--name {
    background-image: url("URL");
  }
}

.banner--timber {
  min-height: 350px;
  margin: 30px 0;
  background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/students/timber-1x.jpg");
  background-position-y: bottom;
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .banner--timber {
    background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/students/timber-2x.jpg");
  }
}

.banner--sustainability {
  min-height: 350px;
  margin: 30px 0;
  background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/faculty-staff/sustainability-1x.jpg");
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .banner--sustainability {
    background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/faculty-staff/sustainability-2x.jpg");
  }
}

.banner--outdoor {
  background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/updates/outdoor-center-1px.jpg");
  min-height: 550px;
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .banner--outdoor {
    background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/updates/outdoor-center-1px.jpg");
  }
}

.banner--noorda {
  background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/updates/noorda-1px.jpg");
  min-height: 600px;
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .banner--noorda {
    background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/updates/noorda-1px.jpg");
  }
}

.banner--innovation {
  background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/learning/virt-innov-1x.jpg");
  min-height: 600px;
  background-position: center bottom;
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .banner--innovation {
    background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/learning/virt-innov-2x.jpg");
  }
}

.banner--learn-work {
  background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/community/learn-work-1x.jpg");
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .banner--learn-work {
    background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/community/learn-work-2x.jpg");
  }
}

.banner--golf {
  background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/athletics/golf-cropped-1x.jpg");
  min-height: 600px;
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .banner--golf {
    background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/athletics/golf-cropped-2x.jpg");
  }
}
.banner--golf .color-background-box {
  max-width: 800px;
}

.banner--summer {
  background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/athletics/summer-allen-1x.jpg");
  min-height: 600px;
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .banner--summer {
    background-image: url("https://www.weber.edu/wsuimages/annualreport/2021/images/athletics/summer-allen-2x.jpg");
  }
}

/***
Regular Article Titles
***/
.regular-article__subtitle, .text-box__subtitle {
  font-family: "tradegothicltcom-bdcn20obl", sans-serif;
  font-size: 1.3em;
  margin-bottom: 0 !important;
}

/***
Pull Quote Background and modifiers
***/
h3.ar-pullquote__title {
  font-size: 1.5rem;
}

.pullquote--cs-flex {
  background-color: #ece9ef;
  margin-bottom: 20px;
}

.pullquote--lemmons {
  background-color: #d6dfea;
}

.pullquote--patrick {
  max-width: 400px;
  background-color: #dbd3e0;
}

.pullquote--hot-topic {
  background-color: #edd3d4;
}
.pullquote--hot-topic .ar-stat__description {
  margin-bottom: 0;
}
.pullquote--hot-topic .ar-stat__number {
  font-size: 2em;
}

.pullquote--dreamers {
  background-color: #ccdedb;
}

.pullquote--entrepreneurs {
  background-color: #dad7d4;
  max-width: 400px;
}

.pullquote--sanders {
  background-color: #edf7df;
  max-width: 350px;
}

/***
**** SUBPAGE BANNERS
***/
