body {
//height: 100vh;
    background-position-x: 40%;
    background-position-y: 0;
    background-size: contain;
}
@media only screen and (min-width: 1024px) {
    body {
        background-image: url(https://www.weber.edu/wsuimages/annualreport/2021/images/ar-home-header2.jpg) !important;
        background-repeat: no-repeat;
        background-position-x: 40%;
        background-position-y: 0;
        background-position-y: -400px;
        background-attachment: fixed;
        background-size: cover;
    }
}

.new-bg {
    background-image: url(https://www.weber.edu/wsuimages/annualreport/2021/images/ar-home-header2.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
@media only screen and (min-width: 1024px) {
    .new-bg {
        display: none;
    }
}

.knockout-pad {
    background-color: #fff;
    /* z-index: 300; */
    height: 20vh;
    position: relative;
    margin-top: -10px;
    margin-bottom: -10px;
}
@media only screen and (min-width: 1024px) {
    .knockout-pad {
        display: none;
    }
}

.ar-logo-second {
    display: none;
}
@media only screen and (min-width: 1024px) {
    .ar-logo-second {
        display: flex;
    }
}

.home-main-content {
    position: relative;
}