@charset "UTF-8";

@import "../utilities/ui-utilities-master/variables";
@import "../utilities/ui-utilities-master/placeholders";
@import "../utilities/ui-utilities-master/functions";
@import "../utilities/ui-utilities-master/mixins";

/***
**** GLOBAL RULES
***/
.banner {
  position: relative;
  min-height: 350px;
}

/***
**** HOME STYLES
***/
@import 'home.scss';
//@import 'home-2021.scss';
@import 'home-ios';
//@import 'home-2021-nonav.scss';


/***
**** CUSTOM FONTS
***/


/***
**** SUBPAGE STYLES
***/
@import 'subpages.scss';
@import 'facts-pres.scss';
@import 'local-style-snippets';


/***
**** SUBPAGE BANNERS
***/
$banner-bottom: 30px;

