@import "../utilities/ui-utilities-master/variables";
@import "../utilities/ui-utilities-master/placeholders";
@import "../utilities/ui-utilities-master/functions";
@import "../utilities/ui-utilities-master/mixins";

@font-face {
  font-family: 'Clarbold';
  src: local('Clarbold');
  src: url("https://www.weber.edu/wsuimages/annualreport/fonts/Clarendon-ExtraBold.eot"); /* IE9 Compat Modes */
  src: url("https://www.weber.edu/wsuimages/annualreport/fonts/Clarendon-ExtraBold.woff2") format("woff2"),/* Modern Browsers */
  url("https://www.weber.edu/wsuimages/annualreport/fonts/Clarendon-ExtraBold.woff") format("woff"),/* Modern Browsers */
  url("https://www.weber.edu/wsuimages/annualreport/fonts/Clarendon-ExtraBold.ttf") format("truetype"), /* Safari, Android, iOS */
  url("https://www.weber.edu/wsuimages/annualreport/fonts/Clarendon-ExtraBold.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
  unicode-range: U+0020-007E;
  font-weight: 700;
  font-style: normal;
}

/***
Styles using custom fonts
***/

/***
Titles With Custom Fonts
***/
h2.lead-article__title {
  margin-bottom: 20px !important;
  line-height: 1;
  .ar-block-text {
    font-family: "Praktika", sans-serif;
    font-size: 2em;
    text-transform: uppercase;
  }
  .ar-script-text {
    font-family: "Thirsty", cursive;
    font-size: 1.5em;
  }
}

.ar2019-stat {
  &__title {
    //font-family: "tradegothicltcom-bdcn20", sans-serif;
    font-size: 1.4em !important;
  }
  &__number {
    font-size: 3.7em;
    font-family: 'Clarbold', serif;
    line-height: 1;
    margin-bottom: 10px;
  }
}