@import "../utilities/ui-utilities-master/variables";
@import "../utilities/ui-utilities-master/placeholders";
@import "../utilities/ui-utilities-master/functions";
@import "../utilities/ui-utilities-master/mixins";

/***
FACTS AND FIGURES
***/

.fact-head-text {
    color: #fff !important;
    font-size: 3em !important;
}

.fact-row {
    display: flex;
    border-bottom: 2px solid #FFFFFF;
    padding-top: 40px;
    padding-bottom: 40px;

    .bord-rt {
        border-right: 2px solid #FFFFFF;
    }

    .fact-box-centered {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .top-ten-list {
        background-color: wsu-palette($wcpurp-colors, 3);
    }

    .column {
        padding: 2%;

        @media only screen and (min-width: $break-laptop) {
            img:not(.no-max) {
                max-width: 400px;
                display: block;
                margin: 0 auto;
            }
        }
    }
    &.fact-row-last {
        border-bottom: none;
    }
}
.fact-box.military {
    background: none;
}
/***
PRES LETTER
***/
.pres-sig {
    width: 200px;
    display: block;
    margin-bottom: 10px;
}
