@import "../utilities/ui-utilities-master/variables";
@import "../utilities/ui-utilities-master/placeholders";
@import "../utilities/ui-utilities-master/functions";
@import "../utilities/ui-utilities-master/mixins";

/***
FACTS AND FIGURES
***/
.fact-row {
    display: flex;
    border-bottom: 2px solid #492365;
    padding-top: 40px;
    padding-bottom: 40px;

    .bord-rt {
        border-right: 2px solid #492365;
    }

    .fact-box-centered {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .top-ten-list {
        background-color: wsu-palette($wcpurp-colors, 3);
    }

    .column {
        padding: 2%;

        /*@media only screen and (min-width: 700px) and (max-width: 1023px) {
            padding: 0 20%;
        }*/

        @media only screen and (min-width: $break-laptop) {
            img:not(.no-max) {
                max-width: 400px;
                display: block;
                margin: 0 auto;
            }
        }
    }
}

/***
PRES LETTER
***/
.pres-sig {
    width: 200px;
    display: block;
    margin-bottom: 10px;
}
