@import "../utilities/ui-utilities-master/variables";
@import "../utilities/ui-utilities-master/placeholders";
@import "../utilities/ui-utilities-master/functions";
@import "../utilities/ui-utilities-master/mixins";

/********************* HOME 2021 **********************
*******************************************************
 *****************************************************/

/******************************
PASTE INTO HOME PAGE HEAD CSS
*******************************
body {
  //height: 100vh;
  background-position-x: 40%;
  background-position-y: 0;
  background-size: contain;
}
@media #{$target-tablet-over} {
  body {
    background-image: url(https://www.weber.edu/wsuimages/annualreport/2021/images/ar-home-header2.jpg) !important;
    background-repeat: no-repeat;
    background-position-x: 40%;
    background-position-y: 0;
    background-position-y: -400px;
    background-attachment: fixed;
    background-size: cover;
  }
}

or
body {
  //height: 100vh;
  background-position-x: 40%;
  background-position-y: 0;
  background-size: contain;
}

@supports (-webkit-touch-callout: none) {
  body {
    background-image: url(https://www.weber.edu/wsuimages/annualreport/2021/images/ar-home-header2.jpg) !important;
    background-repeat: no-repeat;
    background-position-x: 40%;
    background-position-y: 0;
    background-position-y: -400px;
    background-attachment: fixed;
    background-size: cover;
  }
}

*****************************/

.links-titles {
  background-color: #FFF;
}

.first-title {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
  transition: transform 0.5s;
  & .ar-logo {
    background: rgba(255,255,255,0.9);
    margin: 0;
    &__wrapper {
      @include flex-column(center, center);
      border: none;
      margin: 20px 0 20px 0;
    }
    &__image {
      margin: 0;
      width: 350px;
    }
    &__description {
      margin: 0;
      font-size: 2em;
    }
  }
}

.giant-spacer {
  height: 100vh;
}

.animate-up {
  transform: translate3d(0, -100%, 0);
}

.new-bg {
  display: none;
  @supports (-webkit-touch-callout: none) {
    display: block;
    background-image: url(https://www.weber.edu/wsuimages/annualreport/2021/images/ar-home-header2.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.knockout-pad {
  display: none;
  @supports (-webkit-touch-callout: none) {
    background-color: #fff;
    height: 20vh;
    position: relative;
    margin-top: -10px;
    margin-bottom: -10px;
    @media (orientation: portrait) {
      display: block;
    }
  }
}

.banner-knockout {
  position: relative;
}

.freeze-knockout {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  bottom: 0;
  width: 100vw;
}

.home-main-content {
  background-color: #FFF;
}

.ar-logo__wrapper {
  z-index: 100;
}

.ar-logo-second {
  display: flex;
  @supports (-webkit-touch-callout: none) {
    display: none;
  }
}

.home-main-content {
  background-color: #FFF;
  position: relative;
}

.menu-stack li .menu-disc {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}

.menu-stack {
  @media #{$target-tablet-under} {
    //display: block;
    // margin-left: 20%;
  }
  &--left {
    justify-content: flex-end;
    @media #{$target-tablet-under} {
      justify-content: flex-start;
    }
  }
  &--right {
    justify-content: flex-start;
  }
}

.banner {
  &-feature {
    padding: 1em;
    min-height: 400px;
    @media #{$target-tablet-under} {
      padding: 0;
    }
    &__background-box {
      position: absolute;
      top: 80%;
      background-color: wsu-palette($wcpurp-colors, 3, 9);
      padding: 2em;
      max-width: 656px;
      @media #{$target-tablet-under} {
        top: 66%;
      }
      h3 {
        font-family: 'tradegothicltstd-boldext', sans-serif;
        color: wsu-palette($wcpurp-colors, 1);
        font-size: 2em;
        margin-bottom: 30px;
      }
    }
    &--digital-district {
      @include bg-interchange-retina('https://www.weber.edu/wsuimages/annualreport/2021/images/home/digital-district-1x.jpg');
      margin-bottom: 248px;
    }
    &--convos {
      @include bg-interchange-retina('https://www.weber.edu/wsuimages/annualreport/2021/images/home/wildcat-convos-1x.jpg');
      margin-bottom: 300px;
    }
    &--april {
      @include bg-interchange-retina('https://www.weber.edu/wsuimages/annualreport/2021/images/home/april-callister-1x.jpg');
      margin-bottom: 300px;

    }
    &--virtual-innovations {
      @include bg-interchange-retina('https://www.weber.edu/wsuimages/annualreport/2021/images/home/virtual-innovations-1x.jpg');
      margin-bottom: 300px;

      .banner-feature__background-box {
        top: 68%;
      }
    }
    &--sustainability {
      @include bg-interchange-retina('https://www.weber.edu/wsuimages/annualreport/2021/images/home/sustainability-1x.jpg');
      margin-bottom: 300px;
    }
    &--athletics {
      @include bg-interchange-retina('https://www.weber.edu/wsuimages/annualreport/2021/images/home/vball-1x.jpg');
      margin-bottom: 300px;
    }
  }
}

.link-strip a:visited {
  color: #fff;
}
.showcase-html-section .link-strip a:hover {
  color: #c1a2d5;
}
a.menu-item:hover {
  color: #fff !important;
}




