@import "../utilities/ui-utilities-master/variables";
@import "../utilities/ui-utilities-master/placeholders";
@import "../utilities/ui-utilities-master/functions";
@import "../utilities/ui-utilities-master/mixins";

/***
Article Background Banners
***/
.banner--name {
  min-height: 350px;
  margin: 30px 0;
  @include bg-interchange-retina('URL');
}
.banner--timber {
  min-height: 350px;
  margin: 30px 0;
  @include bg-interchange-retina('https://www.weber.edu/wsuimages/annualreport/2021/images/students/timber-1x.jpg');
  background-position-y: bottom;
}
.banner--sustainability {
  min-height: 350px;
  margin: 30px 0;
  @include bg-interchange-retina('https://www.weber.edu/wsuimages/annualreport/2021/images/faculty-staff/sustainability-1x.jpg');
}
.banner--outdoor {
  @include bg-interchange-retina('https://www.weber.edu/wsuimages/annualreport/2021/images/updates/outdoor-center-1px.jpg');
  min-height: 550px;
}
.banner--noorda {
  @include bg-interchange-retina('https://www.weber.edu/wsuimages/annualreport/2021/images/updates/noorda-1px.jpg');
  min-height: 600px;
}
.banner--innovation {
  @include bg-interchange-retina('https://www.weber.edu/wsuimages/annualreport/2021/images/learning/virt-innov-1x.jpg');
  min-height: 600px;
  background-position: center bottom;
}
.banner--learn-work {
  @include bg-interchange-retina('https://www.weber.edu/wsuimages/annualreport/2021/images/community/learn-work-1x.jpg');
}
.banner--golf {
  @include bg-interchange-retina('https://www.weber.edu/wsuimages/annualreport/2021/images/athletics/golf-cropped-1x.jpg');
  min-height: 600px;
  .color-background-box {
    max-width: 800px;
  }
}
.banner--summer {
  @include bg-interchange-retina('https://www.weber.edu/wsuimages/annualreport/2021/images/athletics/summer-allen-1x.jpg');
  min-height: 600px;
}
/***
Regular Article Titles
***/
.regular-article__title {
  //margin-bottom: 20px !important;
}
.regular-article__title-with-sub {

}
.regular-article__subtitle, .text-box__subtitle {
  font-family: $font-tgbc20o;
  font-size: 1.3em;
  margin-bottom: 0 !important;
}

/***
Pull Quote Background and modifiers
***/
h3.ar-pullquote__title {
  font-size: 1.5rem;
}
.pullquote--cs-flex {
  background-color: #ece9ef;
  margin-bottom: 20px;
}
.pullquote--lemmons {
  background-color: wsu-palette($wsublue-colors, 3);
}
.pullquote--patrick {
  max-width: 400px;
  background-color: wsu-palette($wcpurp-colors, 3);
}
.pullquote--hot-topic {
  background-color: wsu-palette($wsured-colors, 3);
  .ar-stat__description {
    margin-bottom: 0;
  }
  .ar-stat__number {
    font-size: 2em;
  }
}

.pullquote--dreamers {
  background-color: wsu-palette($wsugreen-colors, 3);
}
.pullquote--entrepreneurs {
  background-color: wsu-palette($godd-colors, 3);
  max-width: 400px;
}
.pullquote--sanders {
  background-color: wsu-palette($moyes-colors, 3);
  max-width: 350px;
}
