@import "../utilities/ui-utilities-master/variables";
@import "../utilities/ui-utilities-master/placeholders";
@import "../utilities/ui-utilities-master/functions";
@import "../utilities/ui-utilities-master/mixins";

/***
Resets
***/
figcaption {
  padding: 5px;
  font-style: italic;
  font-size: .8em;
}

.page-title-space {
  padding: 0;
}
strong, b {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
}
//overwrite text-box padding in main
.text-box {
  padding: 0;
}

/**************************************************************
****************************************************************
****************************************************************
*************** NEW H1 *****************************************
****************************************************************
***************************************************************/

.showcase-html-section {
  h1 {
    color: #492365;
    font-family: tradegothicltstd-boldext,sans-serif;
    padding: 1em 0;
    text-align: center;
    font-size: 2em;
    &.page-title-banner {
      width: 100%;
      padding: 1em;
      background: url('https://www.weber.edu/wsuimages/annualreport/2021/graphics/section-header-mtns.svg') $light-gray-bg {
        repeat: no-repeat;
        position: 30% 50%;
        size: 27%;
      }
      font-size: 3em;
    }
    span.page-title-banner__tg {
      font-family: $font-tg;
    }
    span.page-title-banner__ext {
      font-family: $font-tgbe;
      text-transform: uppercase;
    }
  }
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

/***
Offscreen Text Content For Screen Readers
***/
.sr-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  top: auto;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/***
Lead Article
***/
.lead-article-section, .main-article-section{
  padding: 1em 0;
}

.lead-article {
  &__image {
	max-width: 600px;
  }
  &__subtitle {
    margin-bottom: 1.5em;
    font-style: oblique;
  }
}

h3.article-subtitle {
  font-style: oblique;
  margin-bottom: 1.25em;
}

h2.lead-article {
  &__title.title-override {
    margin-bottom: 20px;
    font-family: $font-tgbc20;
    font-size: 2rem;
    line-height: 1;
    span {
      font-family: 'honest-designer', cursive;
      font-size: 3rem;
    }
  }
}

/***
Image floats for Regular Articles
***/
.float-left {
  float: left;
  margin-right: 20px;
  @media #{$target-large-phone} {
    margin-right: 0;
  }
}

.float-right {
  float: right;
  margin-left: 20px;
  @media #{$target-large-phone} {
    margin-left: 0;
  }
}

.regular-article__image.float-left, .regular-article__image.float-right {
  @media #{$target-large-phone} {
    float: none !important;
    margin-bottom: 20px;
  }
}

/***
CUSTOM HR
***/
.custom-hr {
  text-align: center;
  img {
	width: 30px;
	position: relative;
	top: -35px;
  }
}

/***
Text Box with Background Banner
***/
.color-background-box--gray-white-color {
  //background-color: rgba(246,251,238, 0.9);
  background-color: rgba(255, 255, 255, 0.9);
}

.text-box h2.text-box__title {
  font-family: 'tradegothiclt-bold', sans-serif;
  font-weight: normal !important;
  margin-bottom: 0 !important;
  font-size: 1.5rem;
  color: #575047;
}

/***
Pull-Quotes
***/
.ar-pullquote {
  padding: 2em;
  @media #{$target-tablet-under} {
    padding: 1em;
  }
  &__title {
	//margin-bottom: 20px;
  }
  &__body--med {
	font-family: "tradegothiclt-condeighteen", sans-serif !important;
	font-size: 1.5em;
  }
  &__body--large {
	font-family: "tradegothiclt-condeighteen", sans-serif !important;
	font-size: 2em;
  }
  &__body--giant {
    font-family: "tradegothiclt-condeighteen", sans-serif !important;
    font-size: 3em;

  }
  &--flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &.pullquote--real-numbers {
    margin: 4em 0;
    & .ar-stat__title, & .ar-stat {
      color: #fff;
    }
  }
}

/***
Pull-Quote Stats
***/
.ar-stat {
  padding: 1em 2em;
  text-align: center;
  &__description {
	font-size: 1.3em;
	font-family: "tradegothicltcom-bdcn20", sans-serif;
	line-height: 1.2;
	margin-bottom: 40px;
  }
}

.ar-stat {
  &__title {
    //font-family: "tradegothicltcom-bdcn20", sans-serif;
    font-size: 1.4em !important;
  }
  &__number {
    font-size: 3.7em;
    font-family: 'tradegothicltcom-bdcn20', serif;
    line-height: 1;
    margin-bottom: 10px;
  }
  &.inline-stats > p {
    display: inline-block;
  }
}

/*** TILES ***/
.comm-tile {
  display: flex;
}

.comm-tile--left {
  justify-content: flex-start;
}

.comm-tile--right {
  justify-content: flex-end;
}

@media only screen and (max-width: 500px) {
  .comm-tile--left, .comm-tile--right {
    justify-content: center;
  }
}

.comm-tile > div {
  width: 350px;
  height: 350px;
  background-color: #492365;
  color: #FFF;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'tradegothicltcom-bdcn20', sans-serif;
  font-size: 1.2em;
}

.comm-tile__icon {
  width: 100px;
}

.article-video-right {
  float: right;
  @media only screen and (max-width:700px) {
    float:none;
    max-width: 600px;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    position: relative;
    height: 0;
    margin-bottom: 1rem;
    padding-bottom: 56.25%;
    //overflow: hidden;
  }
}

.article-video-left {
  float: left;
  @media only screen and (max-width:700px) {
    float:none;
    max-width: 600px;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    position: relative;
    height: 0;
    margin-bottom: 1rem;
    padding-bottom: 56.25%;
  }
}
